body {
        background-color: #ffffff;
}

.header{
        font-family: monaco;
        font-size: 46px;
        color: #000000;

}
.planets{
        margin-left: 200px;
        margin-top: 150px;
}


.circle{
        background: rgb(219, 9, 9);
        width: 300px;
        height: 300px;
        margin-top: 10%;

        border-radius: 200px;
}

.square{
        background: rgb(0, 0, 255);
        width: 300px;
        height: 300px;
        margin-top: 10%;


}