body {
    background: rgb(241, 87, 195);
    font-size: 10px;
    font-family: Monaco, Helvetica, Arial, san-serif;
 
}
img{
    width: 200px; 
}
div {
    
}
.small { 
    width: 200 px;

}

.medium { 
    width: 400px
}

.header {
    background: #0f0;
}

.content {
    background: #b200ff;
}
