body {
        background-color:rgb(0,0,0);
}

.header{
        font-family: Futura;
        font-size: 46px;
        color: #ffffff;

}
.planets{
        margin-left: 200px;
        margin-top: 150px;
}

.back{
        font-family: Futura;
        font-size; 8px;
        color: #ffffff;
        margin-top: 140px;
        
}