body {
        background-color: rgb(255, 255, 255);
        font-family: Futura;
        font-size: 36px;
}

.header{
        font-family: Futura;
        font-size: 46px;
        color: #000000;

}
.planets{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        width: 975px;
        height: 295px;

}

.question {
        background: rgba(255, 255, 255, 0.541);
        color: rgb(0, 0, 0);
        padding: 15px 30px;
        border-radius: 5px;
        text-decoration: none;
        font-family: Futura;
        font-size: 24px;

}