body {
        background-color: rgb(255, 255, 255);
        font-family: Futura;
        font-size: 36px;
}

.header{
        font-family: Futura;
        font-size: 46px;
        color: #000000;

}
.planets{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 0;
        width: 975px;
        height: 295px;

}

.question {
        background: rgba(255, 255, 255, 0.541);
        color: rgb(0, 0, 0);
        padding: 15px 30px;
        border-radius: 5px;
        text-decoration: none;
        font-family: Futura;
        font-size: 24px;

}

.circle img{
        position:fixed;
        top: 10px;
        left: 92%;
        width: 7%;
}

* { 
    box-sizing: border-box; 
    vertical-align: top;
  }
  
  body {
    margin: 30px;
    padding: 0;
    font-size: 0;
  }
  
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-item {
    border: 1px solid #000;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 15px 15px 0;
    font-size: 20px;
  }
  
  .nav-item:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  .content {
    margin: 60px 0 0 0;
    height: 500px;
  }
  
  .hide { display: none; }
  
  .logo {
    height: 79px;
    width: 70px;
    display: inline-block;
    margin: 0 30px 30px 0;
    position: relative;
  }
  
  .logo.apple { width: 150px; }
  
  
  .logo img {
    position: absolute;
    width:120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .logo.apple img { height: 150px; }
  
  
  
  
  
  
  
  
  
  
  
  
  