body {
        background-color: rgb(255, 255, 255);
        font-family: Futura;
        font-size: 20px;
}

.blob img{
        position:fixed;
        top: 10px;
        left: 92%;
        width: 7%;
}

.btn {
        background-color: #fffff;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
        font-family: Futura;
        font-size: 20px;
      }
      
      .btn:hover {
        background-color: rgb(42, 141, 47);
        color: white;
      }
.btn2 {
        background-color: #fffff;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
        font-family: Futura;
        font-size: 20px;
      }
      
      .btn2:hover {
        background-color: rgb(42, 141, 47);
        color: white;
      }

.btn3 {
        background-color: #fffff;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
        font-family: Futura;
        font-size: 20px;
      }
      
      .btn3:hover {
        background-color: rgb(42, 141, 47);
        color: white;
      }
      
.btn3 {
        background-color: #fffff;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
        font-family: Futura;
        font-size: 20px;
      }
      
      .btn3:hover {
        background-color: rgb(42, 141, 47);
        color: white;
      }
.btn4 {
        background-color: #fffff;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
        font-family: Futura;
        font-size: 20px;
      }
      
      .btn4:hover {
        background-color: rgb(42, 141, 47);
        color: white;
      }
      
.btn5 {
        background-color: #fffff;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
        font-family: Futura;
        font-size: 20px;
      }
      
      .btn5:hover {
        background-color: rgb(42, 141, 47);
        color: white;
      }
.btn6 {
        background-color: #fffff;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
        font-family: Futura;
        font-size: 20px;
      }
      
      .btn6:hover {
        background-color: rgb(42, 141, 47);
        color: white;
      }
