body {
    background: rgb(44, 41, 182);
    font-size:30px; 
    color: #ffffff;
}
img{
    width: 200px;
    
}
div {
    background: rgb(34, 190, 125);
}
.small { 
    width: 200 px;

}

.medium { 
    width: 400px;
}

.header {
    background: #0f0;
}

.content {
    background: #b200ff;
}
