body {
    background: rgb(0, 0, 0);
    font-size:10px; 
    color: #ffffff;
    font-family: Monaco, Helvetica, Arial, san-serif;

}
img{
    width: 200px;
    
}
div {
   
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5%

}
.small { 
    width: 200 px;

}

.medium { 
    width: 400px;
}

.header {
    background: #0f0;
}

.content {
    background: #b200ff;
}
