body {
        background-color: rgb(255, 255, 255);
}

.content{
        position: static;
        margin: 20px;
        padding: 20px;
        font-size:20px;
        color: rgb(0, 0, 0); 
        font-family: monaco;
} 


.container {
        
        height: 100vh;
        padding: 20px;
        text-align: center;
      }
      
      .content {
        position: absolute;
        font-size: 12px;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
      }
      .content p {
        margin: 0 0 20px;
      }
      
      /* Arrow & Hover Animation */
      #more-arrows {
        width: 75px;
        height: 65px;
      }
      #more-arrows:hover polygon {
        fill: rgb(0, 0, 0);
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
      }
      #more-arrows:hover polygon.arrow-bottom {
        -webkit-transform: translateY(-18px);
                transform: translateY(-18px);
      }
      #more-arrows:hover polygon.arrow-top {
        -webkit-transform: translateY(18px);
                transform: translateY(18px);
      }
      
      polygon {
        fill: rgb(0, 0, 0);
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
      }
      polygon.arrow-middle {
        opacity: 0.75;
      }
      polygon.arrow-top {
        opacity: 0.5;
      }
      

.rectangle{
        background: rgb(53, 55, 160);
        padding: 30px;
        width: 400px;
        height: 2000px;
        font-family: monaco;
        font-style: bold;
        margin: auto;
        margin-top: 60%;
        color: white;
        border-radius: 20px;
        

}