body {
    background: #ffa;
    font-size:30px; 
}
img{
    width: 200px; 
}
div {
    background: #ccc;
}
.small { 
    width: 200 px;

}

.medium { 
    width: 400px
}

.header {
    background: #0f0;
}

.content {
    background: #b200ff;
}
