body {
    background-image: linear-gradient(-90deg, #3023AE, #C86DD7);
    font-size:12px; 
    font-family: Monaco, Arial, Helvetica, sans-serif;
}
img{
    width: 200px; 
}
div {
}
.small { 
    width: 200 px;

}

.medium { 
    width: 400px
}

.header {
    background: #0f0;
}

.content {
    background: #b200ff;
}
